node_modules
npm-debug.log
coverage
tests
Dockerfile*
docker-compose*
.dockerignore
.env
.eslintrc.js
ecosystem.config.js
.git
.gitignore
jest.config.js
.npmrc
.prettierignore
.prettierrc
README.md
LICENSE
.vscode